#   ____                                 ____         __ _
#  |  _ \ ___   __ _ _ __ ___   ___ _ __/ ___|  ___  / _| |_
#  | |_) / _ \ / _` | '_ ` _ \ / _ \ '__\___ \ / _ \| |_| __|
#  |  _ < (_) | (_| | | | | | |  __/ |   ___) | (_) |  _| |_
#  |_| \_\___/ \__,_|_| |_| |_|\___|_|  |____/ \___/|_|  \__|
#  ---------------------------------------------------------------
#  Backend App - NestJS + PostgreSQL - Docker Compose
#  ---------------------------------------------------------------

version: '3'
services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    image: backend:roamersoft
    container_name: rsbe
    restart: always
    ports:
      - 3000:3000
  database:
    image: postgres:alpine
    volumes:
      - data:/var/lib/postgresql/data
    container_name: rsdb
    # Get credentials form .env file.
    environment: 
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always

volumes:
  data:
