version: '3'
services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    image: backend:roamersoft
    container_name: rsbe
    restart: always
    ports:
      - 8090:8090
  database:
    build:
      context: ./db/
      dockerfile: Dockerfile
    image: database:roamersoft
    volumes:
      - data:/var/lib/postgresql/data
    container_name: rsdb
    # Get credentials form .env file.
    environment: 
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always
    ports:
      - 9000:5432

volumes:
  data:
